[submodule "plugins/itamae-plugin-recipe-rust"]
	path = plugins/itamae-plugin-recipe-rust
	url = https://github.com/itamae-plugins/itamae-plugin-recipe-rust.git
	branch = main
[submodule "plugins/itamae-plugin-recipe-nm_chruby"]
	path = plugins/itamae-plugin-recipe-nm_chruby
	url = https://github.com/namusyaka/itamae-plugin-recipe-nm_chruby.git
[submodule "plugins/itamae-plugin-recipe-postgresql"]
	path = plugins/itamae-plugin-recipe-postgresql
	url = https://github.com/maedadev/itamae-plugin-recipe-postgresql.git
[submodule "plugins/itamae-plugin-recipe-goenv"]
	path = plugins/itamae-plugin-recipe-goenv
	url = https://github.com/civitaspo/itamae-plugin-recipe-goenv.git
[submodule "plugins/mitamae-plugin-resource-apt-repository"]
	path = plugins/mitamae-plugin-resource-apt-repository
	url = https://github.com/moritzheiber/mitamae-plugin-resource-apt-repository.git
